@media (width < 768PX) {
.collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 3% 0.3% 3%;
    margin-top: 30px;
    background-color: #FF6060;
    height: 40px;
}
.collapseIcone {
    width: 30px;
    height: 30px;
}
.collapseTitle {
    font-family: Montserrat;
    font-weight: 400;
    color: white;
    font-size: 150%;
}
.toggle {
    background-color: #F6F6F6;

}
.toggleText {
    color: #FF6060;
    font-size: 130%;
    padding: 0.3% 3% 0.3% 3%; 
}
.collapseBox {
    width: 80%;
    display: block;
    margin: auto;
}
}
@media (768px <=width <992px) {

}

@media (992px <=width) {
    
}