
.imgBanner {    
	background: rgba(0,0,0) url(../../assets/bannerhome.svg) no-repeat  center center;
   /* mix-blend-mode: darken;
    opacity: 0.9;*/
    border-radius: 25px;
	width: 100%;
	height: 200px;
	margin: auto;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;    
     
}
.bannerTitle {
    color: white;
    font-size: 250%;
}
    
